@charset 'utf-8';
@import 'settings';
@import 'mixins';
@import 'foundation';
@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;

*,
* ::after,
* ::before {
  box-sizing: border-box;
}

%clearfix {
  @include clearfix();
}
//Layout

.outer {
  max-width: 100%;
  overflow: hidden;
}

.section {
  max-width: $global-width;
  margin: 0 auto;
}

.page-wrap {
  max-width: rem-calc(1280);
  margin: 0 auto;
  padding: $grid-column-gutter / 4;
}
// Farben


// Menu
// Menu Button

.menu-button {
  cursor: pointer;
  background: $dark-blue;
  height: $grid-column-gutter*1.5;
  margin-right: $grid-column-gutter / 4;
  width: $grid-column-gutter*1.5;
  position: absolute;
  top: 0;
  right: 0;

  &.active {
    .menu-button-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        opacity: 0;
        top: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

.menu-button-box {
  display: inline-block;
  height: rem-calc(65);
  padding: rem-calc(16);
  position: relative;
  transition: transform 0.25s;
  width: rem-calc(75);
}

.menu-button-inner {
  display: block;
  margin-top: rem-calc(-40);
  top: 100%;
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &,
  &::after,
  &::before {
    background-color: $white;
    border-radius: rem-calc(2);
    height: rem-calc(5);
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    width: rem-calc(40);
  }

  &::after,
  &::before {
    content: "";
    display: block;
  }

  &::before {
    top: rem-calc(11);
    right: rem-calc(0);
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }

  &::after {
    bottom: rem-calc(11);
    right: rem-calc(0);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

.menu-button-label {
  color: $white;
  display: block;
  margin-top: -$grid-column-gutter / 3.75;
}
//Header
.header{
  display: flex;
  flex-wrap: wrap;
}

//Logo
.logo{
  order: 3;
  padding-top: $grid-column-gutter;
}

// Hauptnavigation
.main-nav{
  order: 2;
}

//Languagenavigation
.lang-nav{
  order: 1;
}
#lang-menu{
  list-style-type: none;
  li{
    display: inline;
    a{
      text-decoration: none;
      color: $green;
    }
  }
}
